### Data types -

#### Numric data types :
- int = represents the number
- float = reprents the decimal and floating number
- complex = represents the number with real and imaginary part

In [2]:
# int
a = 10

In [3]:
type(10)

int

In [4]:
# float
b = 34.14

In [5]:
type(34.14)

float

In [6]:
# conplex
c = 2+3j

In [7]:
type(2+3j)

complex

In [40]:
a = 10
print("the type of variable having value", a, "is", type(a))

b = 34.14
print("the type of variable having value", a, "is", type(b))

c = 2+4j
print("the type of veriable having value", a, "is",type(c))

the type of variable having value 10 is <class 'int'>
the type of variable having value 10 is <class 'float'>
the type of veriable having value 10 is <class 'complex'>

#### 2.sequence data type -
- 1.str - str represent the textual data
- 2.list - list represents the ordered collection that allows duplicates and is mutable
- 3.tuple - tuple represents the ordered collection that alliws duplicates and is immutable

In [8]:
# str 
a = "hallo world!"

In [9]:
type("hallo world!")

str

In [10]:
# list
list = {1,2,3,4}

In [12]:
type([1,2,3,4])

list

In [13]:
# tuple
tuple = (20,30,40)

In [16]:
type((20,30,40))

tuple

In [46]:
str = "hallo world"
print("the type of variables having world", str, "is", type(str))

list = [1,2,3]
print("the type of variables having value", list, "is", type(list))

tuple = (1,2,3)
print("the type of variables having value", tuple, "is", type(tuple))

the type of variables having world hallo world is <class 'str'>
the type of variables having value [1, 2, 3] is <class 'list'>
the type of variables having value (1, 2, 3) is <class 'tuple'>

In [64]:
str = "Hallo World!"

In [73]:
print(str)
print(str[0])
print(str[5:])
print(str[:5])

Hallo World!
H
 World!
Hallo

In [78]:
list = ["sanika", 101,"pune",340]

print(list)
print(list[2:])
print(list[1:2])

['sanika', 101, 'pune', 340]
['pune', 340]
[101]

In [82]:
tup = [1,'hi', 'sanika',3]
print(tup)
print(tup[3:])
print(tup[2:])
print(tup + tup)
print(tup * 3)

[1, 'hi', 'sanika', 3]
[3]
['sanika', 3]
[1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3]
[1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3]

#### 3.set data type -
- 1.set - set type is an unordered collection of unique element
- 2.frozenset - frozenset is an immutable set

In [17]:
# set
set = ((1,2,3,4))

In [19]:
type({1,2,3,4})

set

In [21]:
# frozenset
type(frozenset({1,2,3,4}))

frozenset

In [59]:
set = {1,2,3,4}
print("the type of veriable set is having a value", set, "is", type(set))

the type of veriable set is having a value {1, 2, 3, 4} is <class 'set'>

#### 4. Mapping Type
- 1.dict: Dictionary type represents a collection of key-value pairs.

In [25]:
dict = {'name':'sanika','age':'22','city':'pune'}

In [27]:
type({'name':'sanika','age':'22','city':'pune'})

dict

In [62]:
dict ={'name':'sanika','age':'22','city':'pune'}
print("the type of dict having a value", dict, "is", type(dict))

the type of dict having a value {'name': 'sanika', 'age': '22', 'city': 'pune'} is <class 'dict'>

In [83]:
d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}     
  
print (d)  
  
 
print("1st name is "+d[1])   
print("2nd name is "+ d[4])    
  
print (d.keys())    
print (d.values())

{1: 'Jimmy', 2: 'Alex', 3: 'john', 4: 'mike'}
1st name is Jimmy
2nd name is mike
dict_keys([1, 2, 3, 4])
dict_values(['Jimmy', 'Alex', 'john', 'mike'])

#### 5.Boolean Type:
- 1.bool: Boolean type represents True or False values.

In [31]:
bool = True
bool = False

In [30]:
type(True)

bool

In [32]:
type(False)

bool

In [63]:
bool_1 = True
bool_2 = False

print("type of bool having a value", bool_1,"is", type(bool_1))
print("type of bool having a value", bool_2,"is", type(bool_2))

type of bool having a value True is <class 'bool'>
type of bool having a value False is <class 'bool'>

In [84]:
print(type(True))
print(type(False))
print(False)

<class 'bool'>
<class 'bool'>
False

#### 6.None type
- 1.NoneType: Represents the absence of a value or a null value.

In [37]:
a = None

In [38]:
type(None)

NoneType