### Data Types

In [1]:
a = 5

The variable a holds integer value five and we did not define its type. Python interpreter will automatically interpret variables a as an integer type.

### Numeric data type - int, float, complex

In [2]:
a=100
print("The type of variable having value", a, " is ", type(a))

b=20.345
print("The type of variable having value", b, " is ", type(b))


c=10+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

### String data type - str

In [3]:
str = 'Hello World!'

print (str)         
print (str[0])      
print (str[2:5])     
print (str[2:])    
print (str * 2)

Hello World!
H
llo
llo World!
Hello World!Hello World!

### List Data Type

In [28]:
list = ("sanika" , 1, 2, "sohan")

print(list)

print(list[0])

print(list[2])
print(list[2:3])

('sanika', 1, 2, 'sohan')
sanika
2
(2,)

### Tuple Data Type

In [29]:
tup = [1,'hi', 'sanika',3]
print(tup)
print(tup[3:])
print(tup[2:])
print(tup + tup)
print(tup * 3)

[1, 'hi', 'sanika', 3]
[3]
['sanika', 3]
[1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3]
[1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3]

### Dictionary data type

In [30]:
d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}     
  
print (d)  
  
 
print("1st name is "+d[1])   
print("2nd name is "+ d[4])    
  
print (d.keys())    
print (d.values())

{1: 'Jimmy', 2: 'Alex', 3: 'john', 4: 'mike'}
1st name is Jimmy
2nd name is mike
dict_keys([1, 2, 3, 4])
dict_values(['Jimmy', 'Alex', 'john', 'mike'])

### Boolean Data Types

In [35]:
print(type(True))
print(type(False))
print(False)

<class 'bool'>
<class 'bool'>
False

### Set data type

In [36]:
set2 = {'James', 2, 3,'Python'}  
 
print(set2)  
   
  
set2.add(10)  
print(set2)  
  
set2.remove(2)  
print(set2)

{'Python', 2, 3, 'James'}
{2, 3, 'James', 10, 'Python'}
{3, 'James', 10, 'Python'}