In [4]:
print("hallo sanika")

hallo sanika

In [6]:
type("sanika")

str

In [5]:
a=50
b=a
print(id(a))
print(id(b))

2755482447696
2755482447696

In [13]:
name = "Sanika"  
age = 20  
marks = 85 
  
print(name)  
print(age)  
print(marks)

Sanika
20
85

In [16]:
Name = "A"
name = "B"
N_A_M_E = "c"
NaMe = "D"

print(Name,name,N_A_M_E,NaMe)

A B c D

In [19]:
X = Y = Z = 50

print(X)
print(Y)
print(Z)

50
50
50

In [20]:
a,b,c = 50,100,150

print(a)
print(b)
print(c)

50
100
150

In [36]:
 
def add():  
     
    a = 20  
    b = 30  
    c = a + b  
    print("The sum is:", c)  
  
 
add()

The sum is: 50

In [46]:
X = 100 

def mainFunction():
 global X
print(X)
X = 'welcome to ineuron'
print(X)
mainFunction()
print(X)

100
welcome to ineuron
welcome to ineuron

In [71]:
 y = 10
print(y)
del y

10

In [73]:
a = 10
b = "sanika"
c = 10.5

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [75]:
a = 10
print("type of a",type(a))
b = 20.15
print("type of b",type(b))
c = 1+3j
print("type of c",type(c))

type of a <class 'int'>
type of b <class 'float'>
type of c <class 'complex'>

In [80]:
print(type(True))
print(type(False))
print(False)

<class 'bool'>
<class 'bool'>
False

In [92]:
   
set2 = {'James', 2, 3,'Python'}  
 
print(set2)  
   
  
set2.add(10)  
print(set2)  
  
set2.remove(2)  
print(set2)

{2, 3, 'James', 'Python'}
{2, 3, 'James', 'Python', 10}
{3, 'James', 'Python', 10}

In [93]:
print(str)  
s = '''''A multiline 
string'''  
print(s)

<class 'str'>
''A multiline
string

In [96]:
str1 = "hallo python"
str2 = "how are you"

print(str1[0:2])
print(str1[4])
print(str1*2)
print(str1 + str2)

ha
o
hallo pythonhallo python
hallo pythonhow are you

In [105]:
list1 = [1,"hi","python"]

print(list1)
 
print(list1[2:])
print(list1 + list1)

[1, 'hi', 'python']
['python']
[1, 'hi', 'python', 1, 'hi', 'python']

In [108]:
tup = [1,'hi', 'sanika',3]
print(tup)
print(tup[3:])
print(tup[2:])
print(tup + tup)
print(tup * 3)

[1, 'hi', 'sanika', 3]
[3]
['sanika', 3]
[1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3]
[1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3, 1, 'hi', 'sanika', 3]

In [112]:
d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}     
  
print (d)  
  
 
print("1st name is "+d[1])   
print("2nd name is "+ d[4])    
  
print (d.keys())    
print (d.values())

{1: 'Jimmy', 2: 'Alex', 3: 'john', 4: 'mike'}
1st name is Jimmy
2nd name is mike
dict_keys([1, 2, 3, 4])
dict_values(['Jimmy', 'Alex', 'john', 'mike'])